<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$charset">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title><!--{eval echo stripslashes($vote['title']);}--></title>
<link rel="stylesheet" type="text/css" href="{HEJIN_PATH}public/index2/index.css">
<script type="text/javascript" src="{HEJIN_PATH}public/index2/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{HEJIN_PATH}public/index2/jquery.masonry.min.js"></script>
<script type="text/javascript" src="{HEJIN_PATH}public/index2/layer.min.js"></script>
  <style>
.slider{display:none;}
.focus span{width:5px;height:5px;margin-left:5px;border-radius:50%;background:#CDCDCD;font-size:0}
.focus span.current{background:red;}
</style>

</head>
<body>
<div style="display:none"><form action="" id="search_form" method="post" accept-charset="utf-8">
    	<input type="hidden" name="formhash" value="{FORMHASH}" />
    	<input type="hidden" name="vid" value="$vid" />
     <div class="li_ipt"><input name="keyword" id="so_name" type="text" class="input_text" value="{lang hejin_toupiao:seachtsa}" onfocus="if(value=='{lang hejin_toupiao:seachtsa}') {this.value=''; this.style.color='#c2c2c2'}" onblur="if(value=='') {this.value='{lang hejin_toupiao:seachtsa}';this.style.color='#6e6175'}" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" /></div>
      <div class="li_btn"><button class="btn" name="seachid" onclick="SoVote();">{lang hejin_toupiao:search}</button>
      
      <div style="display:none"><input type="submit" class="btn" name="seachid" value="{lang hejin_toupiao:search}"></div></div>
    </form></div>
<div class="mains">

  <div class="head_main">
    	{if $ispicarr}
        <div class="slider">
		<ul>
        <!--{loop $picarray $picar}-->
        	<!--{eval $urlpic = explode('|',$picar)}-->
            {if count($urlpic)>1}
            	<li><a href="$urlpic[1]"><img src="$urlpic[0]"/></a></li>
            {else}
	    					<li><a href="#"><img src="$picar"/></a></li>
            {/if}            
        <!--{/loop}-->
				  	</ul>
		</div>
        {else}
    <ul>
      <li><img src="<!--{eval echo stripslashes($vote['pic']);}-->" /></li>
    </ul>
        {/if}
  </div>
  
  <div class="ming_main" style="padding-top:25px;">
    <div class="ming_tit">
      <ul>
        <li class="t1">{lang hejin_toupiao:bianhaoa}</li>
        <li class="t2">{if $vote['zpnamediy']}<!--{eval echo stripslashes($vote['zpnamediy']);}-->{else}{lang hejin_toupiao:xingming}{/if}</li>
        <li class="t3">{lang hejin_toupiao:piaoshu}</li>
        <li class="t4">{lang hejin_toupiao:paiming}</li>
      </ul>
    </div>
    <div class="ming_con">
    <!--{loop $zuopins $key $zuopin}-->
            <ul>
        <li class="c1">{if $hejintoupiao['hjtp_numbtp']}$zuopin['id']{else}<!--{eval echo $vote['id']*10000+$zuopin['id'];}-->{/if}</li>
        <li class="c2"><!--{eval echo strip_tags(stripslashes($zuopin['zpname']));}--></li>
        <li class="c3">{$zuopin['toupiaos']}</li>
        <li class="c4"><!--{eval echo ($pagenub-1)*$number+$key+1;}--></li>
      </ul>
      <!--{/loop}--> 

    </div>
  </div>
  
  <div class="page_main">
    <div class="page_num">
      $page_string    </div>
  </div>
  
  <div style="width:100%; height:85px; background:#232845"></div>
</div>

<div class="bot_main">
  <ul>
    <li class="ico_1"><span class="ico"><img src="{HEJIN_PATH}public/index2/i1.png" /></span><span class="txt">{lang hejin_toupiao:shouyea}</span></li>
    <li class="ico_2"><span class="ico"><img src="{HEJIN_PATH}public/index2/i3.png" /></span><span class="txt">{lang hejin_toupiao:paiming}</span></li>
    {if $ishavezp}
    <li class="ico_3"><span class="ico"><img src="{HEJIN_PATH}public/index2/i11.png" /></span><span class="txt">{lang hejin_toupiao:wodezpa}</span></li>
    {else}
    	{if $vote['start_time']<time() && $vote['over_time']>time()}
    <li class="ico_3"><span class="ico"><img src="{HEJIN_PATH}public/index2/i11.png" /></span><span class="txt">{lang hejin_toupiao:baoming}</span></li>
    	{/if}
    {/if}
    <li class="ico_4"><span class="ico"><img src="{HEJIN_PATH}public/index2/i2.png" /></span><span class="txt">{lang hejin_toupiao:search}</span></li>
  </ul>
</div>
<script language="javascript">
$('.ico_1').on('click', function(){
  location.href = "{HEJIN_URL}&model={$symodel}&vid=$vote['id']";
});
$('.ico_2').on('click', function(){
  location.href = "{HEJIN_URL}&model={$phmodel}&vid=$vote['id']";
});
$('.ico_3').on('click', function(){
  {if $ishavezp}
  	location.href = "{HEJIN_URL}&model={$xqmodel}&zid=$havezp['id']";
  {else}
  	{if $vote['start_time']<time() && $vote['over_time']>time()}
  		location.href = "{HEJIN_URL}&model=signup&vid=$vote['id']";
  	{else}
  		{if $vote['start_time']>time()}
  			VoteEorr("<!--{eval echo date('Y-m-d H:i',$vote['start_time']);}--> {lang hejin_toupiao:baomwksts}");
  		{else}
  			VoteEorr("{lang hejin_toupiao:baomyjs}");
  		{/if}
  	{/if}
  {/if}
});

$('.ico_4').on('click', function(){
  pageL = $.layer({
    type: 2,
    fadeIn: 400,
	shift: 'top',
    border: [0],
	bgcolor: '',
    offset: ['0px', ''],
	title: false,
    closeBtn: false,
	maxmin: false,
    shadeClose: true, //开启点击遮罩关闭层
    iframe: {src : '{HEJIN_URL}&model=search&vid=$vote[id]'},
    area: ['100%' , '95px'],
  });
});


function VoteEorr(txt){
  $.layer({
    type: 1,
    border: [0],
    bgcolor: '',
    title: false,
    shadeClose: true,
    maxmin: false,
    area: ['85%', '80px'],
    page: {html: '<div class="vote_eorr_msg">'+txt+'</div>'}
  });
	layer.close(waitclose);
}

function SoVote(){
	$("input[name='seachid']").click();
}
function sSoVote(soname){
  $("#so_name").val(soname);
  $("input[name='seachid']").click();
}
$.get('{HEJIN_URL}&model=clicks&vid=$vote[id]&formhash={FORMHASH}');
</script>
{if $ispicarr}
  <script type="text/javascript" src="{HEJIN_PATH}public/slider/yxMobileSlider.js"></script>
<script type="text/javascript">
	$(".slider").yxMobileSlider({during:5000,height:{$hejintoupiao['hjtp_hdgd']}});
	var nowtime=new Date().getTime();
	function _fresh(){
		var endtime=new Date("2015/02/18 12:00:00");//这里设置的时间为2011年，您可以修改为其它时间。
		//var nowtime = new Date();
		var leftsecond=parseInt((endtime.getTime()-nowtime)/1000);
		if(leftsecond<0){leftsecond=0;}
			__d=parseInt(leftsecond/3600/24);
			__h=parseInt((leftsecond/3600)%24);
			__m=parseInt((leftsecond/60)%60);
			__s=parseInt(leftsecond%60);
		var sums=__d+__h+__m+__s;
		var if_Receive="";
		if(sums!=0){
			var d=document.getElementById("_d");
			var h=document.getElementById("_h");
			var m=document.getElementById("_m");
			var s=document.getElementById("_s");
			h.innerHTML=__h+__d*24;
			m.innerHTML=__m;
			s.innerHTML=__s;
		nowtime=nowtime+1000;
		setTimeout(_fresh,1000);
		}else if(!if_Receive){
			document.getElementById("msg").innerHTML="";
		}
	}
	_fresh();
</script>
{/if}  

<div style="display:none">$hejintoupiao['hjtp_dsftjdm']</div>
</body>
</html>
