<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$charset">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<title>{lang hejin_toupiao:guanzhug}</title>
<style>
body { background-color:#fcc803; margin:0px; padding:0px; font: 14px Verdana, Arial, Helvetica, sans-serif; color:#7a6100 }
.tips { width:100px; height:42px; background:url(http://7vztc5.com1.z0.glb.clouddn.com/tips.jpg) no-repeat; line-height:42px; color:#fff; font-weight:bold; text-indent:1em }
.row { width:100%; margin:10px 0px; padding:0px; }
.text-center { text-align:center }

</style>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</head>
<body>
<div class="row">
  <div class="tips">{lang hejin_toupiao:guanzhue}</div>
</div>
<div class="row text-center"> <img src="http://open.weixin.qq.com/qr/code/?username={$hejinbox['hjbox_wxhao']}" width="180"/> </div>
<div class="row text-center" >
  <div style="font-size:22px;color:#fff;font-weight:bold;line-height:40px;color:#fa3137">{lang hejin_toupiao:guanzhua}</div>
  <div style="line-height:30px;"> {lang hejin_toupiao:guanzhub} </div>
  <div style="font-size:28px;font-weight:bold;line-height:60px;color:#000000"><span style="border:1px dashed #000000;padding:5px 10px">{$hejinbox['hjbox_wxhao']}</span></div>
  <div style="line-height:30px;">{lang hejin_toupiao:guanzhuc}</div>
</div>
<div class="row">
  <div class="tips">{lang hejin_toupiao:guanzhuf}</div>
</div>
<div class="row text-center" >
  <div style="font-size:22px;color:#fff;font-weight:bold;line-height:40px;color:#fa3137">{$hejintoupiao['hjtp_ydgzljc']}</div>
  <div style="line-height:30px;">{lang hejin_toupiao:guanzhud}</div>
  
  
  </br>
   </br>
 
</div>
</body>
</html>