<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=$charset">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta charset="$charset">
    <title><!--{eval echo stripslashes($vote['title']);}--></title>
    <meta name="description" content="<!--{eval echo stripslashes($vote['content']);}-->">
    <link rel="stylesheet" href="{HEJIN_PATH}public/index{$vote['yuliua']}/touch.css">    
	<script type="text/javascript" src="{HEJIN_PATH}public/index{$vote['yuliua']}/jquery-2.1.3.min.js"></script>

                 <script type="text/javascript" src="{HEJIN_PATH}public/index{$vote['yuliua']}/app.js"></script>
                 <script type="text/javascript" src="{HEJIN_PATH}public/index{$vote['yuliua']}/jquery.masonry.min.js"></script>
   <style>
.slider{display:none;}
.focus span{width:5px;height:5px;margin-left:5px;border-radius:50%;background:#CDCDCD;font-size:0}
.focus span.current{background:red;}
</style>
               
    </head>
<body>
<header>

    <div class="m_head clearfix">
    	{if $ispicarr}
        <div class="slider">
		<ul>
        <!--{loop $picarray $picar}-->
        	<!--{eval $urlpic = explode('|',$picar)}-->
            {if count($urlpic)>1}
            	<li><a href="$urlpic[1]"><img src="$urlpic[0]"/></a></li>
            {else}
	    					<li><a href="#"><img src="$picar"/></a></li>
            {/if}            
        <!--{/loop}-->
				  	</ul>
		</div>
        {else}
        	<img src="<!--{eval echo stripslashes($vote['pic']);}-->" />
        {/if}
        {if $vote['yuliua']==8 or $vote['yuliua']==10}
        	<div class="search">
    <form action="" id="search_form" method="post">
    <input type="hidden" name="formhash" value="{FORMHASH}" />
    <input type="hidden" name="vid" value="$vid" />
        <div class="search_con">
            <div class="btn"><input type="submit" name="seachid" id="searchBtn" value="{lang hejin_toupiao:search}"></div>
            <div class="text_box"><input type="search" id="searchText" value="" name="keyword" placeholder="{lang hejin_toupiao:seachts}" autocomplete="off"></div>
        </div>
    </form>
</div>
        {/if}
        <div class="num_box">
        {if $vote['yuliua']!=8 and $vote['yuliua']!=10}
            {if $ishavezp}<a href="{HEJIN_URL}&model={$xqmodel}&zid=$havezp['id']" class="join_us">{lang hejin_toupiao:wodezuop}</a>{else}{if $vote['start_time']<time() && $vote['over_time']>time()}<a href="{HEJIN_URL}&model=signup&vid=$vote['id']" class="join_us">{lang hejin_toupiao:woyaobm}</a>{/if}{/if}  
         {/if}         
            <ul class="num_box_ul">
                <li>
                    <span class="text">{lang hejin_toupiao:yibaoming}</span>
                    <span>$vote['zuopins']</span>
                </li>
                <li>
                    <span class="text">{lang hejin_toupiao:tprenci}</span>
                    <span><!--{eval echo $vote['toupiaos']+$vote['xntps'];}--></span>
                </li>
                <li>
                    <span class="text">{lang hejin_toupiao:viewnub}</span>
                    <span><!--{eval echo $vote['clicks']+$vote['xnlls'];}--></span>
                </li>
            </ul>
        {if $vote['yuliua']==8 or $vote['yuliua']==10}
            {if $ishavezp}<a href="{HEJIN_URL}&model={$xqmodel}&zid=$havezp['id']" class="join_us">{lang hejin_toupiao:wodezuop}</a>{else}{if $vote['start_time']<time() && $vote['over_time']>time()}<a href="{HEJIN_URL}&model=signup&vid=$vote['id']" class="join_us">{lang hejin_toupiao:woyaobm}</a>{/if}{/if}  
         {/if}         
            {if $vote['yuliua']!=8 and $vote['yuliua']!=10}
            <img src="{HEJIN_PATH}public/index{$vote['yuliua']}/mw_004.jpg" />
            {/if}
        </div>
        {if $vote['yuliua']!=8 and $vote['yuliua']!=10}
        <div class="search">
    <form action="" id="search_form" method="post">
    <input type="hidden" name="formhash" value="{FORMHASH}" />
    <input type="hidden" name="vid" value="$vid" />
        <div class="search_con">
            <div class="btn"><input type="submit" name="seachid" id="searchBtn" value="{lang hejin_toupiao:search}"></div>
            <div class="text_box"><input type="search" id="searchText" value="" name="keyword" placeholder="{lang hejin_toupiao:seachts}" autocomplete="off"></div>
        </div>
    </form>
</div> 
{/if}   </div>
</header>

<section class="content" id="get_info" data-rid="503" data-sort="" data-kw="" data-page="">
    <div class="text_a clearfix" id="sort">
        <a href="{HEJIN_URL}&model={$symodel}&vid=$vote['id']">{lang hejin_toupiao:newcansai}</a>
        <a href="{HEJIN_URL}&model={$phmodel}&vid=$vote['id']" class="active">{lang hejin_toupiao:toupiaoph}</a>
        <a href="{HEJIN_URL}&model={$topmodel}&vid=$vote['id']#top300">TOP{$hejintoupiao['hjtp_topnub']}</a>
    </div>
    <div class="blank20"></div>
    <div id="pageCon" class="match_page masonry" style="padding-bottom: 50px">
        <ul class="list_box masonry clearfix" style="position: relative;">
        			<!--{loop $zuopins $zuopin}-->
                      <li class="picCon">
                        <div>
                            <i class="number">{if $hejintoupiao['hjtp_numbtp']}$zuopin['id']{else}<!--{eval echo $vote['id']*10000+$zuopin['id'];}-->{/if}{lang hejin_toupiao:hao}</i>
                            <a href="{HEJIN_URL}&model={$xqmodel}&zid=$zuopin['id']" class="img">
                            {if strpos($zuopin['pica'], '://')==false}
                                <img src="{HEJIN_PATH}<!--{eval echo stripslashes($zuopin['pica']);}-->" alt="">
                            {else}
                            	<img src="<!--{eval echo stripslashes($zuopin['pica']);}-->" alt="">
                            {/if}
                            </a>
                            <div class="clearfix">
                                <p>{if $vote['yuliua']!=8 and $vote['yuliua']!=10}
                                    <!--{eval echo strip_tags(stripslashes($zuopin['zpname']));}--><br/>
                                    {$zuopin['toupiaos']}{lang hejin_toupiao:piao}
                                    {else}
                                    <!--{eval echo strip_tags(stripslashes($zuopin['zpname']));}-->&nbsp;&nbsp;&nbsp;&nbsp;
                                    {$zuopin['toupiaos']}{lang hejin_toupiao:piao}
                                    {/if}
                                </p>
                                <a href="" class="vote" data-itid="{$zuopin['id']}" data-vote_num="$vote['id']" data-rule_id="$vote['id']">{lang hejin_toupiao:toupiao}</a>
                            </div>
                        </div>
                    </li>
                   <!--{/loop}--> 
                                </ul>

    </div>

    <div class="pagination pagination-centered"> <ul>$page_string</ul></div>
</section>
        {if $vote['yuliua']!=8 and $vote['yuliua']!=10}
<img class="bg" src="{HEJIN_PATH}public/index{$vote['yuliua']}/mw_005.jpg" />
{/if}
<section class="rules">
    <div class="text">    {if $vote['shuomingta']}
        <div class="prize"><!--{eval echo stripslashes($vote['shuomingta']);}--></div>
            <div class="neirong"><!--{eval echo replace($vote['shuomingca']);}--></div>
    {/if}
    {if $vote['shuomingtb']}
        <div class="prize"><!--{eval echo stripslashes($vote['shuomingtb']);}--></div>
             <div class="neirong"><!--{eval echo replace($vote['shuomingcb']);}--></div>
    {/if}
</div>
    <div class="text">    {if $vote['shuomingtc']}
        <div class="ways"><!--{eval echo stripslashes($vote['shuomingtc']);}--></div>
            <div class="neirong"> <!--{eval echo replace($vote['shuomingcc']);}--></div>
    {/if}
</div>
<div style=" height:60px; width:100%; display:block;"></div>

</section>

<section>
    <div class="pop" id="guanzhu" style="display:none">
        <div class="mengceng"></div>
        <div class="pop_up">
                        <p class="tit_p">{$hejintoupiao['hjtp_ydgzbt']}</p>
            <p class="tit_txt"><!--{eval echo stripslashes($vote['wxgzts']);}--></p>
            <a href="<!--{eval echo stripslashes($vote['wxgzurl']);}-->" class="gz_btn">{$hejintoupiao['hjtp_ydgzan']}</a>
                    </div>
    </div>
    <div class="pop" id="voted" style="display:none;">
        <div class="mengceng"></div>
        <div class="pop_up">
            <span class="closed close_pop_up" id="toupiaook">&nbsp;</span>
            <p class="tit_p" id="dia_title">{lang hejin_toupiao:toupiaotse}</p>
            <p class="tit_txt" id="content">{lang hejin_toupiao:toupiaotsa}</p>
            {if $hejintoupiao['hjtp_tpjl'] && $hejintoupiao['hjtp_tpjlnub']}<p class="tit_txt" id="content">$hejintoupiao['hjtp_tpjlsm']</p>{/if}
            {if $hejintoupiao['hjtp_tpjl'] && $hejintoupiao['hjtp_tpjlnub'] && $vote['yuliud']}<a href="<!--{eval echo stripslashes($vote['yuliud']);}-->" class="gz_btn">$hejintoupiao['hjtp_jfxftitle']</a>{elseif $hejintoupiao['hjtp_tpjl'] && $hejintoupiao['hjtp_tpjlnub'] && $hejintoupiao['hjtp_jfxfurl']}<a href="<!--{eval echo stripslashes($hejintoupiao['hjtp_jfxfurl']);}-->" class="gz_btn">$hejintoupiao['hjtp_jfxftitle']</a>{/if}
            <p class="tit_txt" id="subcontent"></p>
        </div>
    </div>
    


    
    <div class="pop" id="voting" style="display:none;">
        <div class="mengceng"></div>
        <div class="pop_up">
            <span class="closed close_pop_up">&nbsp;</span>
            <p class="tit_p" id="voting_title"></p>
            <p class="tit_txt" id="voting_content"></p>
        </div>
    </div>
 {if $hejintoupiao['hjtp_tpyzm']}   
    <div class="pop" id="validata" style="display:none;">
        <div class="mengceng"></div>
        <div class="pop_up" style="width:310px;">
            <script src="http://api.geetest.com/get.php?gt={$hejintoupiao['hjtp_tpyzmid']}&width=280" type="text/javascript"></script>
        </div>
    </div>
  {/if}  
    <div class="share_overmask" style="display: none;">
        <div class="share_arrow"></div>
        <div class="share_words"></div>
    </div>
</section>

<link rel="stylesheet" type="text/css" href="{HEJIN_PATH}public/index2/daohang.css">

<div class="bot_main">
  <ul>
    <li class="ico_1"><span class="ico"><img src="{HEJIN_PATH}public/index2/i1.png" /></span><span class="txt">{lang hejin_toupiao:shouyea}</span></li>
    <li class="ico_2"><span class="ico"><img src="{HEJIN_PATH}public/index2/i3.png" /></span><span class="txt">{lang hejin_toupiao:paiming}</span></li>
    {if $ishavezp}
    <li class="ico_3"><span class="ico"><img src="{HEJIN_PATH}public/index2/i11.png" /></span><span class="txt">{lang hejin_toupiao:wodezpa}</span></li>
    {else}
    	{if $vote['start_time']<time() && $vote['over_time']>time()}
    <li class="ico_3"><span class="ico"><img src="{HEJIN_PATH}public/index2/i11.png" /></span><span class="txt">{lang hejin_toupiao:baoming}</span></li>
        {/if}
    {/if}
    <li class="ico_4"><span class="ico"><img src="{HEJIN_PATH}public/index2/i4.png" /></span><span class="txt">$hejintoupiao['hjtp_dbdhti']</span></li>
  </ul>
</div>


{if $hejintoupiao['hjtp_jssdk'] && $hejinbox['hjbox_appid'] && $hejinbox['hjbox_appsecret']}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{$signPackage["appId"]}', // 必填，公众号的唯一标识
        timestamp: "{$signPackage[timestamp]}", // 必填，生成签名的时间戳
        nonceStr: '{$signPackage["nonceStr"]}', // 必填，生成签名的随机串
        signature: '{$signPackage["signature"]}',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function(){
        wx.error(function(res){
            console.log(res);
        });
        //朋友圈
        wx.onMenuShareTimeline({
            title: '<!--{eval echo stripslashes($vote[title]);}-->', // 分享标题
            link: '{HEJIN_URL}&model={$symodel}&vid=$vote[id]', // 分享链接
            imgUrl: '<!--{eval echo stripslashes($vote[icon]);}-->', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        //分享给朋友
        wx.onMenuShareAppMessage({
            title: '<!--{eval echo stripslashes($vote[title]);}-->', // 分享标题
            desc: '<!--{eval echo stripslashes($vote[content]);}-->', // 分享描述
            link: '{HEJIN_URL}&model={$symodel}&vid=$vote[id]', // 分享链接
            imgUrl: '<!--{eval echo stripslashes($vote[icon]);}-->', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
</script>
{/if}
<script type="text/javascript">
    $(function(){
        $("#toupiaook").on('click',function(){
                window.location.href = "{HEJIN_URL}&model={$phmodel}&vid=$vote['id']&page=$page";
        });
    });
$('.ico_1').on('click', function(){
  location.href = "{HEJIN_URL}&model={$symodel}&vid=$vote['id']";
});
$('.ico_2').on('click', function(){
  location.href = "{HEJIN_URL}&model={$phmodel}&vid=$vote['id']";
});
$('.ico_3').on('click', function(){
  {if $ishavezp}
  	location.href = "{HEJIN_URL}&model={$xqmodel}&zid=$havezp['id']";
  {else}
  	{if $vote['start_time']<time() && $vote['over_time']>time()}
  		location.href = "{HEJIN_URL}&model=signup&vid=$vote['id']";
  	{else}
  		{if $vote['start_time']>time()}
						$('#voting_title').html("<!--{eval echo date('Y-m-d H:i',$vote['start_time']);}--> {lang hejin_toupiao:baomwksts}");
						$('#voting_content').html('');
                        $('#voting').show();
  		{else}
						$('#voting_title').html('{lang hejin_toupiao:baomyjs}');
						$('#voting_content').html('');
                        $('#voting').show();
  		{/if}
  	{/if}
  {/if}
});
$('.ico_4').on('click', function(){
	{if $vote['yuliud']}
	location.href = "<!--{eval echo stripslashes($vote['yuliud']);}-->";
	{else}
	location.href = "$hejintoupiao['hjtp_dbdhurl']";
	{/if}
});
</script>

<script type="text/javascript">
{if $hejintoupiao['hjtp_tpyzm']}

function gt_custom_ajax(result, selector, message) {
  if (result) {
		$('#validata').hide();
            $.ajax({
                type: "GET",
                url: "{HEJIN_URL}&model=ticket",
                cache: false,
                data: {
                    zid:itid,
					formhash:'{FORMHASH}'
                },
                success: function(data) {
                    if (data == 102) {//未关注
                        $('#guanzhu').show();
                    } else if (data == 108) {//投票成功
                        $('#voted').show();
                    } else if (data == 106) {//此用户今日已无法投票
						$('#voting_title').html('{lang hejin_toupiao:notoupiao}');
						$('#voting_content').html('{if $hejintoupiao[hjtp_tpxzmos]==1}{lang hejin_toupiao:tpjihuica}{else}{lang hejin_toupiao:tpjihuicb}{/if}');
                        $('#voting').show();
                    } else if (data == 105) {//此IP下今日已无法投票
						$('#voting_title').html('{lang hejin_toupiao:notoupiao}');
						$('#voting_content').html('{lang hejin_toupiao:toupiaotsb}');
                        $('#voting').show();
                    } else if (data == 103) {//投票还未开始
						$('#voting_title').html('{lang hejin_toupiao:toupiaotsc}');
						$('#voting_content').html('{lang hejin_toupiao:toupiaotsg}<!--{eval echo date("Y-m-d H:i",$vote[vote_time]);}-->{lang hejin_toupiao:toupiaotsf}');
                        $('#voting').show();
                    } else if (data == 104) {//投票已经结束
						$('#voting_title').html('{lang hejin_toupiao:toupiaotsh}');
						$('#voting_content').html('');
                        $('#voting').show();
                    } else if (data == 107) {//投票已经结束
						$('#voting_title').html('{lang hejin_toupiao:toupiaotsi}');
						$('#voting_content').html('{lang hejin_toupiao:zpshorpb}');
                        $('#voting').show();
                    } else if (data == 110) {//ip不在限制区域中
						$('#voting_title').html('{lang hejin_toupiao:toupiaotsi}');
						$('#voting_content').html('{$hejintoupiao[hjtp_ipxzts]}');
                        $('#voting').show();
                    }else if (data == 109) {//投票已经结束
						$('#voting_title').html('{lang hejin_toupiao:toupiaotsi}');
						$('#voting_content').html('{$hejintoupiao[hjtp_tpxzts]}');
                        $('#voting').show();
                    }else if (data == 120) {//报名期间达到投票限制数
						$('#voting_title').html('{lang hejin_toupiao:toupiaotsi}');
						$('#voting_content').html('{lang hejin_toupiao:bmqjxza}{$vote[yuliub]}{lang hejin_toupiao:bmqjxzb}<!--{eval echo date("m-d H:i",$vote[over_time]);}-->{lang hejin_toupiao:bmqjxzc}');
                        $('#voting').show();
                    }else if (data == 888) {//编号投票
						$('#voting_title').html('{lang hejin_toupiao:bhtpbfa}' + itid + '{lang hejin_toupiao:bhtpbfb}');
						$('#voting_content').html('<a href="<!--{eval echo stripslashes($vote[wxgzurl]);}-->" class="gz_btn">{lang hejin_toupiao:bhtpbfc}</a>');
                        $('#voting').show();
                    }
                }
            });
	}else{
		if(message == "Fail") {
		}
		if(message == "Abuse" || message == "Forbidden") {
		}
  	}
  	$('.gt_refresh_button')[0].click(); 
}
var itid;
    $(function(){
        $('.vote').on('tap', function(e){
            e.preventDefault();
            var self = $(e.target).closest('.vote');
			itid = self.data('itid');
			$('#validata').show();
        });

        var container = $('#pageCon ul');

        container.imagesLoaded(function(){
            container.masonry({
                itemSelector: '.picCon'
            });
        });
    });
{else}
    $(function(){
        $('.vote').on('tap', function(e){
			$('#voting_content').html('{lang hejin_toupiao:tpjxzts}');
			$('#voting').show();
            e.preventDefault();
            var self = $(e.target).closest('.vote');
            $.ajax({
                type: "GET",
                url: "{HEJIN_URL}&model=ticket",
                cache: false,
                data: {
                    zid:self.data('itid'),
					formhash:'{FORMHASH}'
					
                },
                success: function(data) {
					$('#voting').hide();
                    if (data == 102) {//未关注
                        $('#guanzhu').show();
                    } else if (data == 108) {//投票成功
                        $('#voted').show();
                    } else if (data == 106) {//此用户今日已无法投票
						$('#voting_title').html('{lang hejin_toupiao:notoupiao}');
						$('#voting_content').html('{if $hejintoupiao[hjtp_tpxzmos]==1}{lang hejin_toupiao:tpjihuica}{else}{lang hejin_toupiao:tpjihuicb}{/if}');
                        $('#voting').show();
                    } else if (data == 105) {//此IP下今日已无法投票
						$('#voting_title').html('{lang hejin_toupiao:notoupiao}');
						$('#voting_content').html('{lang hejin_toupiao:toupiaotsb}');
                        $('#voting').show();
                    } else if (data == 103) {//投票还未开始
						$('#voting_title').html('{lang hejin_toupiao:toupiaotsc}');
						$('#voting_content').html('{lang hejin_toupiao:toupiaotsg}<!--{eval echo date("Y-m-d H:i",$vote[vote_time]);}-->{lang hejin_toupiao:toupiaotsf}');
                        $('#voting').show();
                    } else if (data == 104) {//投票已经结束
						$('#voting_title').html('{lang hejin_toupiao:toupiaotsh}');
						$('#voting_content').html('');
                        $('#voting').show();
                    } else if (data == 107) {//投票已经结束
						$('#voting_title').html('{lang hejin_toupiao:toupiaotsi}');
						$('#voting_content').html('{lang hejin_toupiao:zpshorpb}');
                        $('#voting').show();
                    } else if (data == 110) {//ip不在限制区域中
						$('#voting_title').html('{lang hejin_toupiao:toupiaotsi}');
						$('#voting_content').html('{$hejintoupiao[hjtp_ipxzts]}');
                        $('#voting').show();
                    }else if (data == 109) {//投票已经结束
						$('#voting_title').html('{lang hejin_toupiao:toupiaotsi}');
						$('#voting_content').html('{$hejintoupiao[hjtp_tpxzts]}');
                        $('#voting').show();
                    }else if (data == 120) {//报名期间达到投票限制数
						$('#voting_title').html('{lang hejin_toupiao:toupiaotsi}');
						$('#voting_content').html('{lang hejin_toupiao:bmqjxza}{$vote[yuliub]}{lang hejin_toupiao:bmqjxzb}<!--{eval echo date("m-d H:i",$vote[over_time]);}-->{lang hejin_toupiao:bmqjxzc}');
                        $('#voting').show();
                    }else if (data == 888) {//编号投票
						$('#voting_title').html('{lang hejin_toupiao:bhtpbfa}' + self.data('itid') + '{lang hejin_toupiao:bhtpbfb}');
						$('#voting_content').html('<a href="<!--{eval echo stripslashes($vote[wxgzurl]);}-->" class="gz_btn">{lang hejin_toupiao:bhtpbfc}</a>');
                        $('#voting').show();
                    }
                }
            });
        });

        var container = $('#pageCon ul');

        container.imagesLoaded(function(){
            container.masonry({
                itemSelector: '.picCon'
            });
        });
    });
{/if}



    $(window).on('unload pageshow', function () {});
	$.get('{HEJIN_URL}&model=clicks&vid=$vote[id]&formhash={FORMHASH}');
</script>
{if $ispicarr}
  <script type="text/javascript" src="{HEJIN_PATH}public/slider/yxMobileSlider.js"></script>
<script type="text/javascript">
	$(".slider").yxMobileSlider({during:5000,height:{$hejintoupiao['hjtp_hdgd']}});
	var nowtime=new Date().getTime();
	function _fresh(){
		var endtime=new Date("2015/02/18 12:00:00");//这里设置的时间为2011年，您可以修改为其它时间。
		//var nowtime = new Date();
		var leftsecond=parseInt((endtime.getTime()-nowtime)/1000);
		if(leftsecond<0){leftsecond=0;}
			__d=parseInt(leftsecond/3600/24);
			__h=parseInt((leftsecond/3600)%24);
			__m=parseInt((leftsecond/60)%60);
			__s=parseInt(leftsecond%60);
		var sums=__d+__h+__m+__s;
		var if_Receive="";
		if(sums!=0){
			var d=document.getElementById("_d");
			var h=document.getElementById("_h");
			var m=document.getElementById("_m");
			var s=document.getElementById("_s");
			h.innerHTML=__h+__d*24;
			m.innerHTML=__m;
			s.innerHTML=__s;
		nowtime=nowtime+1000;
		setTimeout(_fresh,1000);
		}else if(!if_Receive){
			document.getElementById("msg").innerHTML="";
		}
	}
	_fresh();
</script>
{/if}  

<div style="display:none">$hejintoupiao['hjtp_dsftjdm']</div></body>
</html>